<!DOCTYPE html>
<html>
<head>
    <title>Menu Table</title>
</head>
<body>
    <h2>{{msg}}</h2>
    <table>
        <thead>
            <tr>
                <th>#</th><th>Order No.</th><th>Details</th><th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td><td>Latte</td><td>Caramel Macchiato</td>
                <td><a href="#ShowOrder/Latte">Show details</a></td>
            </tr>
            <tr>
                <td>2</td><td>Mocha</td><td>French Vanilla White Mocha</td>
                <td><a href="#ShowOrder/Mocha">Show details</a></td>
            </tr>
            <tr>
                <td>3</td><td>Latte</td><td>Rasberry Iced Latte</td>
                <td><a href="#ShowOrder/Latte">Show details</a></td>
            </tr>
        </tbody>
    </table>
</body>
</html>