<!DOCTYPE html>
<html>
    <head>
        <title>List View</title>
        <!--<script type="text/ng-template" id="partials/ShowOrder.html"></script>-->
    </head>
    <body>
    <div id="wrapper">
        <nav class="nav">
            <a href="#/add">Add Item</a>
        </nav>
        <div class="container">
            <h2>Coffee List</h2>
            <table class="list">
            <tr>
                <th>Type</th>
                <th>Size</th>
                <th>Price</th>
            </tr>
            <tr ng-repeat="newCoffee in coffeeList track by $index">
                <td><a href="#/detail/{{$index}}">{{newCoffee.type}}</a></td>
                <td>{{newCoffee.size}}</td>
                <td>{{newCoffee.price}}</td>
                <td><button ng-click="remove($index)">Remove</button></td>
            </tr>
        </table>
        </div>
    </div>
    </body>
</html>